langchain
langchain-community
langchain-huggingface
langchain-postgres
langchain-groq
langchain-core
sentence-transformers
chainlit
langfuse
psycopg[binary]
python-dotenv
langchain-text-splitters
rank_bm25